.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 30vh 30vh 10vh 10vh 10vh;

  @media (min-width: 576px) {
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 10vh 30vh 30vh 20vh 10vh;
    grid-template-areas:
      "header header"
      "left-side content"
      "left-side content2"
      "right-side right-side"
      "footer footer";
  }

  @media (min-width: 992px) {
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 30vh 50vh 10vh;
    grid-template-areas:
      "header header header"
      "left-side content right-side"
      "left-side content2 right-side"
      "footer footer footer";
  }
}

.header {
  background-color: red;
  @media (min-width: 576px) {
    grid-area: header;
  }

  @media (min-width: 992) {
    grid-area: header;
  }
}

.left-side {
  background-color: green;
  @media (min-width: 576px) {
    grid-area: left-side;
  }

  @media (min-width: 992) {
    grid-area: left-side;
  }
}

.content {
  background-color: pink;
  @media (min-width: 576px) {
    grid-area: content;
  }

  @media (min-width: 992) {
    grid-area: content;
  }
}

.content2 {
  background-color: blue;
  @media (min-width: 576px) {
    grid-area: content2;
  }

  @media (min-width: 992) {
    grid-area: content2;
  }
}

.right-side {
  background-color: gray;
  @media (min-width: 576px) {
    grid-area: right-side;
  }

  @media (min-width: 992) {
    grid-area: right-side;
  }
}

.footer {
  background-color: orange;
  @media (min-width: 576px) {
    grid-area: footer;
  }

  @media (min-width: 992) {
    grid-area: footer;
  }
}
