.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 30vh 30vh 10vh 10vh 10vh;

  @media (min-width: 576px) {
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 10vh 30vh 30vh 20vh 10vh;
    grid-template-areas:
      "header header"
      "left-side content"
      "left-side content2"
      "right-side right-side"
      "footer footer";
  }
}

.header {
  background-color: red;
  grid-area: header;
}

.left-side {
  background-color: green;
  grid-area: left-side;
}

.content {
  background-color: pink;
  grid-area: content;
}

.content2 {
  background-color: blue;
  grid-area: content2;
}

.right-side {
  background-color: gray;
  grid-area: right-side;
}

.footer {
  background-color: orange;
  grid-area: footer;
}

h1 {
  color: red;
}
